{% assign page = pages.about %}

<div id="about-main-info-wrapper" class="about-main-info-wrapper">
  <div class="!p-[10px] flex flex-col gap-[10px] !pb-[50px] !absolute top-[50px] !w-fit ![&>p]:pb-[10px]">
    <div class="!text-[20px] !font-extrabold uppercase">{{ page.title }}</div>
    <div class="w-full md:w-1/2 !text-[16px] [&>p]:!pb-[10px]">{{ page.content }}</div>
  </div>
</div>

{% schema %}
{
  "name": "About Content",
  "settings": [],

  "presets": [
    {
      "name": " About Page Content",
      "category": "Content"
    }
  ]
}
{% endschema %}
