
      <div >
        {%  for block in section.blocks %}
        <div>{{ block.settings.description_text }} </div>
        {%  endfor %}
      </div>



{% schema %}
  {
    "name": "About Content",
    "blocks": [ {
      "name": "Description Paragraph",
       "type": "text",
      "settings": [
        { 
          "type": "textarea",
          "id": "description_text",
          "label": "description"

          
        }
      ]
    }
    ]
      
  }
  
{% endschema %}


 {
    "name": "About Content",
    "blocks": [
      {
        "name": "Description Paragraph",
        "type": "textarea",
        "settings": [
          {
            "type": "textarea",
            "id": "about_description",
            "label": "Description Part 1"
          },
        ],
      },
    ],
  }
  } 