{% assign page = pages.about %}

<script type="module" src="../assets/threeD_nuckle.js" defer></script>




<div class="about-section-wrapper">
 <div class="about-main-info-wrapper">
              <div class="about-page-title">*{{ page.title }}</div>
              <div class="about-page-main-wrapper">

                    <div id="about_description" class="about-description-wrapper">
                    
                      <div class="about-description-text">{{ page.content }} </div>

                  </div>
                </div>
                <div></div>
            </div>

     
</div>




{% schema %}
  {
    "name": "About Content",
    "settings":[
     
     
      
    ],
   
    "presets": [
      {
        "name": " About Page Content",
        "category": "Content"
      }
    ]
      
  }
  
{% endschema %}


