
      <div >
        {% if section.settings.image_1%} 
          {{ section.settings.image_1 | image_url:  width: 450 | image_tag }}
          
        {% else %}
          
        <span>what</span>

        {% endif %}
        {%  for block in section.blocks %}
          
        <div>{{ block.settings.description_text }} </div>
        
        {%  endfor %}
      </div>



{% schema %}
  {
    "name": "About Content",
    "settings":[
      {
        "type": "image_picker",
        "id": "image_1",
         "label": "Display an Image: This will display at top of page have a play around"
      }
    ],
    "max_blocks": 5,
    "blocks": [ {
      "name": "Description Paragraph",
       "type": "text",
      "settings": [
        { 
          "type": "textarea",
          "id": "description_text",
          "label": "Description: This is like paragraph by paragraph."
        }
        
      ]
    }
    ],
    "presets": [
      {
        "name": " About Page Content",
        "category": "Content"
      }
    ]
      
  }
  
{% endschema %}


