{% for block in section.blocks %}
      <div >
        {{ settings[0].type }}
      </div>
    ...
{% endfor %}


{% schema %}
  {
    "name": "About Content",
        "settings": [
          {
            "type": "textarea",
            "id": "about_description",
            "label": "Description"
          }
        ]
      }

  
{% endschema %}