
      <div >
        {{ section.settings.about_description }}
      </div>



{% schema %}
  {
    "name": "About Content",
        "settings": [
          {
            "type": "textarea",
            "id": "about_description",
            "label": "Description"
          }
        ]
      }

  
{% endschema %}