
      <div >
        {{ section.settings.image_1 | img_url: '2086x' | img_tag }}
        {%  for block in section.blocks %}
          
        <div>{{ block.settings.description_text }} </div>
        {%  endfor %}
      </div>



{% schema %}
  {
    "name": "About Content",
    "settings":[
      {
        "type": "image_picker",
        "id": "image_1",
         "label": "Display Image"
      }
    ],
    "blocks": [ {
      "name": "Description Paragraph",
       "type": "text",
      "settings": [
        { 
          "type": "textarea",
          "id": "description_text",
          "label": "description"
        }
        
      ]
    }
    ],
    "presets": [
      {
        "name": " About Page Content",
        "category": "Content"
      }
    ]
      
  }
  
{% endschema %}


