
      <div >
        {{ section.settings.about_description }}
        {{ section.settings.about_description_2 }}
        
      </div>



{% schema %}
  {
    "name": "About Content",
        "settings": [
          {
            "type": "textarea",
            "id": "about_description",
            "label": "Description Part 1"
          },
          {
            "type": "textarea",
            "id": "about_description_2",
            "label": "Description Part 2"
          }
        ]
      }

  
{% endschema %}