{% assign page = pages['custom-orders'] %}


<div class="custom-page-wrapper" id="customer-orders-page">
<div class="custom-title" id="custom-orders-title"> {{ page.title }}</div>
<div class="custom-page-content"> {{ page.content }}</div>

</div>