<div class="footer-wrapper">
  <div class="footer-title">ORSWO</div>
  <div class="foot-contact-num">
  <div>(+64) 27 367 7789</div>
  <div>hello@orswo.co.nz</div>
  </div>
  <div>Instagram</div>
  <div class="footer-privacy">Privacy Policy</div>



</div>