{% assign page = pages['privacy-policy'] %}


<div class="privacy-page-wrapper">
<div class="privacy-page-title"> {{ page.title }}</div>
<div class="privacy-page-content"> {{ page.content }}</div>

</div>