<div class="shop-styl-seperator">
  <span></span>
</div>

</div>
{% schema %}
  {
    "name": "Title Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": " TitleIMG",
        "category": "Content"
      }
    ]
  }
{% endschema %}