<div class="title-styl-seperator">
<div class="visualGrid2"></div>

  <div class="title-image-product">  
{% comment %} {{ section.settings.image_1 | img_url: '800x' | img_tag }} {% endcomment %}
  {% comment %} {{ 'orswoTitle.png' |  asset_img_url }} {% endcomment %}
  <img class="orswoTitleImage" src="{{ 'orswoTitle.png' | asset_url }}" width="" height="" loading="lazy" /> 

</div>
</div> 

{% schema %}
  {
    "name": "Title Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": " TitleIMG",
        "category": "Content"
      }
    ]
  }
{% endschema %}