/* FOOTER STYLING */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-transform: uppercase;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }
  
