/* NAV Bar*/
 
.nav-links {
    top: 20px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: calc(100dvw - 37px);
    padding: 10px;
  
  }

   .orswo-link {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(236, 226, 226);
    
  }
  


  .main-links{
    display: flex;
    gap: 10px;
    font-size: 10px;
    text-transform: uppercase;
    align-items: center;
  
  }
  
  
  .nav-cart{
    display: flex;
    align-items: center;
    font-size: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(236, 226, 226);
  }

  .sub-links{
    /* place holder for styling */
    margin-top: 100px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(236, 226, 226);
    
  }