/* NAV Bar*/

.nav-sticky{
  position: fixed;
  z-index: 5;
  width: 100%;
}

 .nav-links-wrap{
  display: flex;
  flex-direction: column;
 }
.nav-links {
    top: 20px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    padding: 10px;

  }

   .orswo-link {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(236, 226, 226, 0.500);
    backdrop-filter: blur(5px);
    
  }
  


  .main-links{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 10px;
    text-transform: uppercase;
    align-items: center;
    
  }
  
  
  .nav-cart{
    display: flex;
    align-items: center;
    font-size: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(236, 226, 226, 0.500);
    backdrop-filter: blur(5px);

  }

  .sub-links{
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255 255 255 / 15%);
    
  }


.custom-legend {
    font-size: 8px; /* Larger font size */
    color: #5c5c5c; /* Darker text color */
    padding: 0 10px; /* Padding on sides for legend */
    border-radius: 5px; /* Rounded corners for legend background */
    position: relative; /* For positioning effects */
    text-transform: uppercase;
}

.sub-links-wrapped{
  position: relative;
  top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;


}




.sub-links-flex{
  display: flex;
  align-items: baseline;
  gap: 5px;
}


input[type="radio"] {
  border-radius: 0;
  height: 7px;
  width: 10px;
  min-width: 10px;
  padding: 0;
}

input {
  border: 1px solid #000;
  color: inherit;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
  text-align: center;
  margin: 0;
}

input:checked
{
  background-color: #000;

}
input::after
{
  appearance: none;

}
input:hover
{
  cursor: pointer;
} 
  
