/* PAGE STYLING FOR ABOUT & PRIVACY POLICY */

.about-description-wrapper{
  height: 100dvh;
}
.about-section-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .about-section-image img {
      position: absolute;
      width: 100%;
      height: 100dvh;
      object-fit: cover;
      object-position: center;
      top: 0px;
      z-index: -1;
  }
  
  .about-page-title{
    text-transform: uppercase;
    font-size: 24px;
    color:#464646;
    width: fit-content;
    padding-bottom: 5px;
  }
  
  .about-page-main-wrapper{
      padding: 10px;
  }
  
  .about-description-text{
    width: calc(100dvw - 70%);
    color: #323232;
  }
  .about-description-text p{
    padding-bottom: 5px;
    font-size: 12px;
  }
  
  
  
  .title-styl-seperator {
    position: relative;
    align-items: center;
    justify-content: center;
  }
  

  .orswoTitleImage{
    margin-top: 10px;
    margin-bottom: 10px;

    height: 100%;
    width: 100dvw;
    object-fit: cover;
  }
  
  .privacy-page-wrapper{
   
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50dvh;
  
  }
  
  .privacy-page-title{
   padding-left: 10px;
   font-weight: 600;
   font-size: larger;
  }
  
  .privacy-page-content{
    padding: 10px;
    width: 80%;
  }
  /* media queries about page */
  @media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    /* .about-main-info-wrapper {
      padding-top: 70px;
  } */
    .about-description-wrapper{
      padding-left: var(--pdnhalf);
      padding-right: var(--pdnhalf);
  
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .about-description-text{
      width: 100%;
    }
      .privacy-page-content{
      width: fit-content;
    }
    .privacy-page-wrapper{
      padding-left: 0px;
      padding-right: 0px;
  
    }
  }
  
  @media only screen and (max-width: 500px)  {
    /* For mobile phones: */
  
  
    .about-description-wrapper{
      flex-direction: column-reverse !important;
    }
    canvas{
      height: 100dvh !important;
  
    }
  }
  
  /* custom PAGEs */
  
  #custom-orders-title{
    padding-top: 40px;
    position: absolute;
    color: #f5f8f7;
  }
  .custom-page-wrapper{
   margin-top: 36px;
   padding-left: 20px;
   padding-right: 20px;
  
  }
  .custom-title{
   font-weight: 600;
   font-size: xx-large;
   padding-top: 40px;
  
   padding-bottom: 10px;
   width: fit-content;
  }
  .custom-page-content p{
    font-size: medium;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #5f5f5f;
    width: 50%;
  }
  .custom-page-content p:has(img){
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .custom-page-content h1:has(img){
    padding-bottom: 0px;
    padding-top: 0px !important;
  }
  img[alt~="display"]{
    object-fit: cover;
    width: 100dvw !important;
    padding-bottom: 10px;
  }
  .custom-page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .custom-page-content h1{
    font-size: xx-large;
    font-weight: bold;
    color: #152b20;
    padding-bottom: 10px;
  
  }
  
  .custom-page-content h2{
    padding-top: 10px;
    padding-bottom: 10px;
  
    font-size: x-large;
    font-weight: bold;
    color: #152b20;
  
  }
  .custom-page-content h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
    color: #152b20; 
  }
  
  .custom-page-content ul{
   list-style:circle;
   width: 50%;
  }
  
  .custom-page-content ol{
    list-style-type: style;
    width: 50%;
  }
  li::marker{
    font-weight: bold;
    font-size: small;
  }
  span, li{
    padding-bottom: 5px;
  }
  @media only screen and (max-width: 1024px)  {
    /* For mobile phones: */
  
  
    .custom-page-content p{
      
      width: 80%;
    }
    .custom-page-content ul{
      width: 80%;
     }
     
     .custom-page-content ol{
       width: 80%;
      padding-left: 40px;
  
     }
    .custom-page-content img{
      width: 100%;
    }
    .custom-page-content h1:has(> img){
      object-fit: cover;
      width: 100dvw !important;
    }
    
  }
  
  @media only screen and (max-width: 768px)  {
    /* For mobile phones: */
  
  
    .custom-page-content p{
      
      width: 100%;
    }
    .custom-page-content ul{
      width: fit-content;
      padding-left: 20px;
  
     }
     
     .custom-page-content ol{
       width: fit-content;
      padding-left: 20px;
  
     }
     #custom-orders-title{
      padding-top: 100px;
    }
   
     
  }
  