
/* PRODUCTS PAGE */



.shop-frontpg-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20vw;
  }
  
  #shopify-section-all-products{
    width: 100%
  }
  .all-products-wrapper{
    display: flex;
    width: 100%;
  }
  
  .all-products {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 10px;
    width: 100%;
    padding-top: 40px;
  }
  
  .product-section {
    display: flex;
    top: 50px;
    position: relative;
    border: solid 1px black;
    width: 100%;
  
  }
  
  .product-wrapper {
    display: flex;
    justify-content: center;
  
  
  }
  
  .column {
    display: flex !important;
    flex-wrap: wrap-reverse;
  }
  
  .items {
    padding: 20px;
  }
  
  .catergory-menu {
    width: 20%;
  }
  
  /* Shop Section that holds/displays all products */
  
  
  /* PARENT WRAPPER */
  
  
  /*  */
  
  
  /* .all-products {
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .about-main-info-wrapper{
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  } */
  
  
  
  /*  
  
  
  .all-products {
    animation: fadeInAnimation ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  } */
  
  .product-card {
    display: flex;
    flex-direction: column;
  }
  
  .product-card-description{
    display: flex;
    padding-top: 5px;
  }
  
  .product-card-title-link {
    font-size: 14px !important;
    color: #474747 !important ;
  }
  
  .product-card-description-values{
    display: flex;
    flex-direction: column;
    font-family: Arial;
  }
  .product-card-description-values a{
    padding-bottom: 5px;
  }
  .all-products-currency{
    font-size: 13px;
    color: #7a7777;
    font-family: sans-serif;
  }
  
  
  .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1.4;
  }
  
  .sdbar-lnks-wrapper {
    display: flex;
    gap: var(--pdnhalf);
    font-size: medium;
    text-transform:lowercase;
  }
  
  /* PRODUCTS PAGE MEDIA QUERIES */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
  
  
    .title-image-product {
      
      padding-right: 0% !important;
      justify-content: center !important;
      
  }
  
    .title-image-product img {
      width: 100% !important;
    }
  
    .shop-frontpg-wrapper{
      flex-direction: column;
      padding: var(--pdnhalf);
      padding-top: 75px;
      margin-bottom: 0px;
    }
  
    .sdbar-lnks-wrapper {
  
      gap: 5px;
      padding-left: 0px !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
      flex-direction: row !important;
      padding-bottom: var(--pdn);
      
    }
  
    .all-products {
     padding: 0px;
     gap: 20px;
    }
    .product-card{
      width: 100%;
    }
  
    .product-card-description{
      padding-top: 0px;
    }
  
    .product-card-description-values{
      align-items: center;
      padding-top: var(--pdnhalf);
  
    }
     
    
  }
  
  @media only screen and (max-width: 1024px){
    .all-products{
    grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 568px){
    .sdbar-lnks-wrapper{
      font-size: medium;
      padding-bottom: 0px;
      justify-content: flex-start !important;
      gap: 5px !important;
      width: 150px;
    }
    .product-card-description-values{
      font-size: small;
    }
    .shop-frontpg-wrapper{
      padding-top: 100px;
    }
  
    .all-products {
      grid-template-columns: repeat(1,minmax(0,1fr)) !important;
      
  }
  }
  