/* Single Product Page */


.sngl-prdct-main-wrap {
    display: flex;
    padding: var(--pdn);
    padding-bottom: 22%;
  
  }
  
  .single-product-card-main{
    order: -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--pdn);
    align-items: start;
    padding-top: 20px;
  
  }
  
  .sngl-prdct-img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1.4;
    width: 80%;
  }
  
  .title-styl-seperator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  
  .product-images-layout{
    display: flex;
    flex-wrap: wrap;
    gap: var(--pdn);
  }
  
  
  
  
  .product-info {
   display: flex;
   flex-direction: column;
   position: sticky;
   top: 100px;
   gap: 20px;
  }
  
  .product-title-card{
    font-size: large;
  }
  
  .product-descript {
    width: 50%;
    font-weight: 300;
    font-size: small;
  
  }
  .product-price{
    font-size: medium;
  }
  /* products tag styles */
  .product-tag-wrapper{
    padding: 10px;
    font-weight: 700;
    font-size: smaller;
    border: 1px solid #0000002e;
    width: fit-content;
    border-radius: 5px;
    background-color: #dee4e4;
    gap: 10px;
  }
  
  /* .product-ready-status{
  
  
  } */
  .product-tag-description{
    font-weight: 400;
    font-size: smaller;
    color: #444849;
  }
  
  
  
  
  
  .form-wrapper {
    display: flex;
    gap: 35px;
    flex-direction: column;
  }
  
  .hide-this-select{
    display: none !important;
  }
  
  
  
  
  
  
  /* single product page media queris */
  
  @media only screen and (max-width: 1024px)  {
    /* For mobile phones: */
    .sngl-prdct-main-wrap{
      padding: var(--pdn);
      
    }
    .single-product-card-main {
      /* grid-template-columns: repeat(1, 1fr); */
      height: fit-content;
      padding-top: 65px;
    }
    .sngl-prdct-img{
      width: 100%;
    }
  
    
    .product-descript{
      width: 90%;
    }
    
  }
  
  @media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    .sngl-prdct-main-wrap{
      padding: var(--pdnhalf);
    }
    .product-info{
      top: 90px;
      gap: var(--pdnhalf);
    }
    
    
  }
  @media only screen and (max-width: 500px)  {
    /* For mobile phones: */
    .sngl-prdct-main-wrap{
      padding: var(--pdnhalf);
      padding-top: 12px;
    }
    .single-product-card-main {
      grid-template-columns: repeat(1, 1fr);
      height: fit-content;
    }
    .product-info{
      top: 50px;
      gap: var(--pdnhalf);
      padding-left: var(--pdnhalf);
    }
    
    
  }
  /* similar products section */
  .you-may-like-title{
    padding-bottom: var(--pdn);
    font-size: large;
  }
  
  .similar-products-wrapper{
    padding: var(--pdn);
    padding-bottom: 20%;
  }
  
  
  .reccomended-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1%;
    gap: 10px;
  }
  
  .product__img{
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1.4;
    width: 100%;
  }
  
  .product {
    display: flex;
    width: 100%;
  }
  
  .reccomended-products-card-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  
  
  @media only screen and (max-width: 1024px)  {
    /* For mobile phones: */
    .reccomended-wrapper{
      
      grid-template-columns: repeat(2, 1fr);
    }
  
     .product-tag-wrapper{
      width: 80%;
    }
  }
  
    
    
  
  
  @media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    
    .you-may-like-title{
      font-size: medium;
    }
    
  }
  
  @media only screen and (max-width: 425px) {
    .reccomended-wrapper {
      font-size: small !important;
    }
   
  }


  /* FADEIN ANIMATION */






/* .sngl-prdct-main-wrap {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: .25;
  }

  100% {
    opacity: 1;
  }
} */