  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


:root {
  --pdn: 10px
}

body {
  
/* overflow: hidden; */
margin: 0 !important;
}

/* ::-webkit-scrollbar {
  display: none;
  
} */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #FF0000;
} */


a {
  text-decoration: none;
  color: white;
}

/* PRODUCTS HOME PAGE */
.product-section{
  display: flex;
  top: 50px;
  position: relative;
  border: solid 1px black;
  width: 100%;
  background-color: blue;

}
.product-wrapper {
  display: flex;
  justify-content: center;
  

}
.column {
  display: flex !important;
  -webkit-flex-wrap: wrap-reverse;
}
.items {
  padding: 20px;
}

.catergory-menu{
  width: 20%;
}
/* Shop Section that holds/displays all products */
.all-products{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  
}

.product-card{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

 body{
  background-color: #13271e;
}
/* .product-descrp{
  display: flex;
} */

.product-img{
  border-radius: 1%;
  width: 507px;
  height: 637px;
}



/* CART SECTION */

.my-cart__items {
  opacity: 1;
  transition: opacity 0.2s;
}
body.js-ajax-cart-request-in-progress .my-cart__items {
  opacity: .7;
}

.my-floating-cart {
  display: none;
}

/* Show the floating cart if the 'js-my-cart-open' CSS class exists */
.js-my-cart-open .my-floating-cart {
  display: block;
}

.my-cart-icon {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left: var(--pdn);
  padding-top: var(--pdn);
}


/* NAV Bar*/
.nav-links  {
  font-family: 'Open Sans';
  /* padding-top: 18px; */
  display: flex;
  gap: 13.3%;
  /* width: 100%; */
  color: white;
  padding-left: 20px;
  margin-top: 20px;
}





/* Main page */
.main-image{
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: -1;
    
}

.title-image{
  -webkit-filter: sepia(100%) hue-rotate(90deg) saturate(400%);
  filter: sepia(100%) hue-rotate(90deg) saturate(400%);
 }


.sidebar-menu {
 color:white;
}

/* SHOPFRONTPAGE */

.shop-frontpg-wrapper{
  /* display: flex; */
}

.sdbar-lnks-wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  
}
.sdbar-lnks-wrapper a {
  font-family: 'Open Sans';
  text-transform: uppercase;
}
.shop-styl-seperator{
  position: relative;
  height: 440px;
}

.title-image-shop{
  -webkit-filter: sepia(100%) hue-rotate(90deg) saturate(400%);
  filter: sepia(100%) hue-rotate(90deg) saturate(400%);
  left: 55.3%;
  position: relative;
}