


@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
  --pdn: 20px;
  --pdnhalf: calc(var(--pdn) / 2);

  --lightgreen: rgb(196, 238, 221);

  --gap: var(--pdn);
  --fontcolour: #162722
}

body {


  font-family: Arial;
  background-color: #dce8e7;
  font-weight: 500 !important;
  /* make variable */
  color: var(--fontcolour)

}

.astrix{
  font-weight: 900;
}




html {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}



a {
  text-decoration: none;
  color: var(--fontcolour);
}

/* PRODUCTS PAGE */



.shop-frontpg-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20vw;
}

#shopify-section-all-products{
  width: 100%
}
.all-products-wrapper{
  display: flex;
  width: 100%;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: 40px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;


}

.product-section {
  display: flex;
  top: 50px;
  position: relative;
  border: solid 1px black;
  width: 100%;

}

.product-wrapper {
  display: flex;
  justify-content: center;


}

.column {
  display: flex !important;
  flex-wrap: wrap-reverse;
}

.items {
  padding: 20px;
}

.catergory-menu {
  width: 20%;
}

/* Shop Section that holds/displays all products */


/* PARENT WRAPPER */


/*  */


.all-products {
  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*  


.all-products {
  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card-description{
  display: flex;
  padding-top: var(--pdnhalf);
}

.product-card-title-link {
  font-size: 17px !important;
}

.product-card-description-values{
  display: flex;
  flex-direction: column;
  font-family: Arial;
}
.product-card-description-values a{
  padding-bottom: 5px;
}
.all-products-currency{
  font-size: small;
  color: #7a7777;
  font-family: sans-serif;
}


.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1.4;
}

.sdbar-lnks-wrapper {
  display: flex;
  gap: var(--pdnhalf);
  font-size: medium;
  text-transform:lowercase;
}







/* PRODUCTS PAGE MEDIA QUERIES */

@media only screen and (max-width: 768px)  {
  /* For mobile phones: */


  .title-image-product {
    
    padding-right: 0% !important;
    justify-content: center !important;
    
}

  .title-image-product img {
    width: 100% !important;
  }

  .shop-frontpg-wrapper{
    flex-direction: column;
    padding: var(--pdnhalf);
    padding-top: 75px;
    margin-bottom: 0px;
  }

  .sdbar-lnks-wrapper {

    gap: 5px;
    padding-left: 0px !important;
    font-size: large;
    flex-wrap: wrap !important;
    justify-content: center !important;
    flex-direction: row !important;
    padding-bottom: var(--pdn);
    width: 150px;
  }

  .all-products {
   padding: 0px;
   gap: 20px;
  }
  .product-card{
    width: 100%;
  }

  .product-card-description{
    padding-top: 0px;
  }

  .product-card-description-values{
    align-items: center;
    padding-top: var(--pdnhalf);

  }
   
  
}

@media only screen and (max-width: 1024px){
  .all-products{
  grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 568px){
  .sdbar-lnks-wrapper{
    font-size: medium;
    padding-bottom: 0px;
    justify-content: flex-start !important;
  }
  .product-card-description-values{
    font-size: small;
  }
  .shop-frontpg-wrapper{
    padding-top: 100px;
  }

  .all-products {
    grid-template-columns: repeat(1,minmax(0,1fr)) !important;
    
}
}



/* CART SECTION */
.sorry-no-items{
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
}

.my-cart__items {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.2s;
  gap: var(--pdn);
  padding-top: var(--pdn);
}

body.js-ajax-cart-request-in-progress .my-cart__items {
  opacity: .7;
}


.product-image-in-cart {
  width: 50%;
  object-fit: cover;
  object-position: center;
  padding-left: var(--pdn);
}

.floating-cart-wrapper{
  display: flex;
  flex-direction: column;
}

.my-floating-cart {
  
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto auto;
  position: fixed;
  inset: 0;
  width: 500px;
  height: 70vh;
  z-index: 1;
  background-color:  #e2edf7; 
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 12px 9px 25px 4px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 12px 9px 25px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 12px 9px 25px 4px rgba(0, 0, 0, 0.24);
  z-index: 4;
}


.exit-cart-wrapper_1{
  background: #e2edf7;
  position: sticky;
  top: 0px;
}
.orswo-cart-title{
  font-weight: 600;
}

.exit-cart{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: var(--pdn);
  text-transform: lowercase;
  border-bottom: 1px solid #a5a5a5;

}

.exit-the-cart{
  position: relative;
  font-weight: 400;
}



.quantity-input-bar {
  width: 20px !important;
}

.my-floating-cart a {
  color: var(--fontcolour);
}

.cart-link-btn a {
  color:var(--fontcolour);
  
}

.inner-cart-block {
  display: flex;
  font-size: medium;
  gap: var(--pdn);
}

.inner-wrapper-cart__items {
  display: flex;
  flex-direction: column;
  padding-top: var(--pdnhalf);
  gap: var(--pdnhalf);
}




.add-to-cart-button {
  width: 50%;
  height: 35px;
  background-color: #f1e8e8;
  border-color: #bed9df;
  border-radius: 0px;
  color: var(--fontcolour);
  font-weight: bold;
}

.cart-title-money{
  padding-left: 5px;
  font-size: medium;
  
}
.cart-remove{
  font-size: small;
  font-weight: 600;
}

/* CSS */
/* .button-4 {
  background-color: #ffffff !important;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  height: 3dvh;
} */



.checkout-btn {
  display: flex;
  color: #dcd1d1fb !important;
  justify-content: center;
  padding: var(--pdn);
  
}

.checkout-btn button{
  background-color: #f1e8e8;
  border-color: #bed9df;
  border-radius: 5px;
  color: var(--fontcolour);
  font-weight: bold;
  height: 25px;
}

.checkout-button-wrapper{
  position: sticky;
  bottom: 0px;
}

/* FLOATING CART MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .my-floating-cart{
  width: 80%;
 }
 .inner-cart-block{
  font-size: small;
 }
  
}


@media only screen and (max-width: 501px) {
  /* For mobile phones: */

  .add-to-cart-button{
    width: 100%;
  }
}




/* Show the floating cart if the 'js-my-cart-open' CSS class exists */
.js-my-cart-open {
  display: block;

}

.cart-link-btn {
  position: relative;

}


.my-cart-icon {
  /* display: flex; */
  align-items: center;
  gap: 2px;
  padding-left: var(--pdn);
  padding-top: var(--pdn);

}


.in-cart-description{
  display: flex;
  flex-direction: column;
}
.title-in-cart-desc{
  font-size: small;
}
.price-in-cart-desc{
  /* font-size: small; */
  font-size: small;
}

.quantity-in-cart-desc{
  /* font-size: small; */
  font-size: small;
}
.total-in-cart-desc{
  /* font-size: small; */
  font-size: small;
}




/* HOME PAGE */

/* NAV Bar*/
 
.nav-links {
  text-transform: lowercase;

  display: flex;
  justify-content: space-between;
  padding: var(--pdn);
  font-family: 'Archivo' !important;
  font-size: larger;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 3;
  background-color: #e2edf7; /* shop page */
  /*background-color: transparent; landing page */
} 



.main-links{
  display: flex;
  justify-content: space-between;
  gap: 20px;

}


.catergories-and-cart{
  display: flex;
  align-items: center;
  gap: 20px;
}


/* HOME PAGE CONTENT */

.main-image {
display: flex;

}
.main-image img{
  width: 100%;
  height: 100vh;
  height: 100dvh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0px;
}

.title-image {

  display: flex;
  position: absolute;
  padding-left: 20%;
  padding-top: 20%;
  z-index: 2;
  
}

.title-image img {
  width: 90%;
}


/* HOME PAGE MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .nav-links{
    padding: var(--pdnhalf);
    font-size: large;
  }
  .main-links{
    flex-direction: column;
    justify-content: normal;
    gap: 0px;
  }

  .title-image{
    padding-top: 40%;
    padding-left: 10%;

  }
  .catergories-and-cart{
    align-items: normal;
  }
  
}


/* HOME PAGE TRANSITIONS */

.main-image {
  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: .25;
  }

  100% {
    opacity: 1;
  }
}




/* Single Product Page */


.sngl-prdct-main-wrap {
  display: flex;
  padding: var(--pdn);
  padding-bottom: 22%;

}

.single-product-card-main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--pdn);
  align-items: start;
  padding-top: 40px;

}

.sngl-prdct-img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1.4;
  width: 80%;
}

.title-styl-seperator {
  display: flex;
 
}





.product-images-layout{
  display: flex;
  flex-wrap: wrap;
  gap: var(--pdn);
}




.product-info {
 display: flex;
 flex-direction: column;
 position: sticky;
 top: 76px;
 gap: 20px;
}

.product-title-card{
  font-size: x-large;
}

.product-descript {
  width: 60%;
  font-weight: 300;

}
.product-price{
  font-size: large;
}
/* products tag styles */
.product-tag-wrapper{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-weight: 700;
  font-size: small;
  border: 1px solid #0000002e;
  width: 50%;
  border-radius: 5px;
  background-color: #dee4e4;
  gap: 10px;
}

/* .product-ready-status{


} */
.product-tag-description{
  font-weight: 400;
  font-size: smaller;
  color: #444849;
}





.form-wrapper {
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.hide-this-select{
  display: none !important;
}






/* single product page media queris */

@media only screen and (max-width: 1024px)  {
  /* For mobile phones: */
  .sngl-prdct-main-wrap{
    padding: var(--pdn);
    
  }
  .single-product-card-main {
    /* grid-template-columns: repeat(1, 1fr); */
    height: fit-content;
    padding-top: 65px;
  }
  .sngl-prdct-img{
    width: 100%;
  }

  
  .product-descript{
    width: 100%;
  }
  
}

@media only screen and (max-width: 768px)  {
  /* For mobile phones: */
  .sngl-prdct-main-wrap{
    padding: var(--pdnhalf);
  }
  .product-info{
    top: 90px;
    gap: var(--pdnhalf);
  }
  
  
}
@media only screen and (max-width: 500px)  {
  /* For mobile phones: */
  .sngl-prdct-main-wrap{
    padding: var(--pdnhalf);
    padding-top: 12px;
  }
  .single-product-card-main {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
  }
  .product-info{
    top: 50px;
    gap: var(--pdnhalf);
  }
  
  
}
/* similar products section */
.you-may-like-title{
  padding-bottom: var(--pdn);
  font-size: large;
}

.similar-products-wrapper{
  padding: var(--pdn);
  padding-bottom: 20%;
}


.reccomended-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1%;
  gap: 10px;
}

.product__img{
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1.4;
  width: 100%;
}

.product {
  display: flex;
  width: 100%;
}

.reccomended-products-card-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}


@media only screen and (max-width: 1024px)  {
  /* For mobile phones: */
  .reccomended-wrapper{
    
    grid-template-columns: repeat(2, 1fr);
  }

   .product-tag-wrapper{
    width: 80%;
  }
}

  
  


@media only screen and (max-width: 768px)  {
  /* For mobile phones: */
  
  .you-may-like-title{
    font-size: medium;
  }
  
}

@media only screen and (max-width: 425px) {
  .reccomended-wrapper {
    font-size: small !important;
  }
 
}


/* FOOTER STYLING */

.footer-wrapper {
  display: block;
}

.footer-childern{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: var(--pdnhalf);
}

.footer-privacy{
  font-weight: 600;
}
.foot-contact-num {
  display: flex;
  gap: var(--pdn);
  font-weight: 600;
}
/* FOOTER MEDIA QUERIES */

@media only screen and (max-width: 768px)  {
  /* For mobile phones: */
  .footer-childern{
    gap: 10px;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 10px;
    font-size: 15px;
  }
  
}

/* PAGE STYLING FOR ABOUT & PRIVACY POLICY */

canvas{
  padding-right: 20px;
}
.about-section-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about-section-image img {
    position: absolute;
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    object-position: center;
    top: 0px;
    z-index: -1;
}


.about-main-info-wrapper{
  padding-top: 100px;
}

.about-page-main-wrapper{
    padding: 10px;
    /* height: 100dvh; */
    padding-bottom: 20px;
}
.about-description-wrapper{
  display: flex;
  padding-left: var(--pdn);
  gap: 10%;
  padding-right: 20px;
}
.about-description-text{
  width: 50%;
  padding-top: var(--pdnhalf);
}


.about-page-title{
  font-size: xxx-large;
  padding-left: 10px;
}

.seperator-about{
  height: calc(100dvh / 2);
  background-color: red;

}


.privacy-page-wrapper{
 
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50dvh;

}

.privacy-page-title{
 padding-left: 10px;
 font-weight: 600;
 font-size: larger;
}

.privacy-page-content{
  padding: 10px;
  width: 80%;
}
/* media queries about page */
@media only screen and (max-width: 768px)  {
  /* For mobile phones: */

  .about-description-wrapper{
    padding-left: var(--pdnhalf);
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .about-description-text{
    width: 100%;
  }
}

@media only screen and (max-width: 500px)  {
  /* For mobile phones: */
  /* .about-page-title{
    top: 0px;
    position: relative;
    padding-top: 40px;
  }
  .seperator-about{
    height: 100px;
  } */

  .about-description-wrapper{
    flex-direction: column-reverse !important;
  }
  canvas{
    width: 250px !important;
    height: 250px !important;

  }
}

/* FADEIN ANIMATION */






.sngl-prdct-main-wrap {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: .25;
  }

  100% {
    opacity: 1;
  }
}


.my-floating-cart {
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: .25;
  }

  100% {
    opacity: 1;
  }
}


.footer-wrapper{
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: .25;
  }

  100% {
    opacity: 1;
  }
}