:root {
  --pdn: 10px
}

body {
  padding-left: 20px;
  padding-right: 20px;

}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


a {
  text-decoration: none;
  color: black;
}

/* PRODUCTS HOME PAGE */
.product-section{
  display: flex;
  top: 50px;
  position: relative;
  border: solid 1px black;
  width: 100%;
  /* height: 100vh; */
  background-color: blue;

}
.product-wrapper {
  display: flex;
  justify-content: center;
  

}
.column {
  display: flex !important;
  -webkit-flex-wrap: wrap-reverse;
}
.items {
  padding: 20px;
}

.catergory-menu{
  width: 20%;
}
/* Shop Section that holds/displays all products */
.all-products{
  /* display: flex;
  flex-direction: column; */
  display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 3vw;
    padding: 0;
}

.product-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* CART SECTION */

.my-cart__items {
  opacity: 1;
  transition: opacity 0.2s;
}
body.js-ajax-cart-request-in-progress .my-cart__items {
  opacity: .7;
}

.my-floating-cart {
  display: none;
}

/* Show the floating cart if the 'js-my-cart-open' CSS class exists */
.js-my-cart-open .my-floating-cart {
  display: block;
}

.my-cart-icon {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left: var(--pdn);
  padding-top: var(--pdn);
}


/* NAV Bar*/
.header-cont-nav-cart {
  display: flex;
  align-items: center;
  position: sticky;
  top: 1px;
  border: solid 1px black;
  background-color: #f9f8f6;
  width: 100%;
}

.nav-links {
  font-family: 'Helvetica';
  display: flex;
  gap: 50%;
}

.nav-links a{
  text-transform: uppercase;
}

.nav-links a:hover{
  text-transform: lowercase;
}


.shopify-section{
  /* display: flex;
  align-items: center; */
  width: 20%;
}



/* Main LOGO */

.orswo-logo-image {
  display: flex;
  padding: 20px;
  justify-content: center;
}

/* Sperator */

.home-seperator {
  border: solid 1px black;
  height: 100vh;
  width: 100%;
  background-color: blue;
}