<div class="page-wrapper">

  {% comment %} <div>{{ page.title }}</div> {% endcomment %}
    {% comment %} <div class="page-content-wrapper">{{ page.content }}</div> {% endcomment %}

    {% section 'about-page' %}
</div>

