{% assign full_url = request.path %}
{% comment %} {% assign type = request.page_type %}  {% endcomment %}
{% for  pages in page %}  
 {{ pages }}
{% endfor %}

<div class="page-wrapper">

      {% if full_url contains 'privacy-policy' %}
        {% section 'privacy-page' %}
      
        
        
      {% elsif full_url contains 'about' %}
        
        {% section 'about-page' %}
  {% endif %}
  </div>

  
  {% section 'title-seperator' %}
  {% section 'footer' %}



