
<div class="sngl-prdct-main-wrap">
  {% section 'single-product' %}
  </div>
  
  <div class="similar-products-wrapper">
    
    {% section 'similar-products' %}
    
    </div>
    
    {% section 'title-seperator' %}


{% section 'footer' %}
